Импортируем необходимые библеотеки

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

Подгружаем базу данных

In [2]:
df=pd.read_csv("D:\ML\data\Dataset1.csv")

Посмотрим верхнюю часть таблицы чтобы понять с чем мы работаем

In [3]:
df.head (10)

,color,Director_Name,num_Critic_for_reviews,duration,director_Facebook_likes,actor_3_Facebook_likes,actor_2_name,Actor_1_Facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes;
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000;
1,Colour,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0;
2,Colour,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000;
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000;
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0;
5,Colour,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000;
6,Color,Sam Raimi,392.0,156.0,0.0,4000.0,James Franco,24000.0,336530303.0,Action|Adventure|Romance,...,1902.0,English,USA,PG-13,258000000.0,2007.0,11000.0,6.2,2.35,0;
7,Color,Nathan Greno,324.0,100.0,15.0,284.0,Donna Murphy,799.0,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,...,387.0,English,USA,PG,260000000.0,2010.0,553.0,7.8,1.85,29000;
8,Colour,Joss Whedon,635.0,141.0,0.0,19000.0,Robert Downey Jr.,26000.0,458991599.0,Action|Adventure|Sci-Fi,...,1117.0,English,USA,PG-13,250000000.0,2015.0,21000.0,7.5,2.35,118000;
9,Colour,David Yates,375.0,153.0,282.0,10000.0,Daniel Radcliffe,25000.0,301956980.0,Adventure|Family|Fantasy|Mystery,...,973.0,English,UK,PG,250000000.0,2009.0,11000.0,7.5,2.35,10000;

Посмотрим более подробую информацию, по типам данных и числу ненулевых полей уже можно делать выводы по пропускам, также стоит заменить названия некоторых столбцов

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   color                       5025 non-null   object
 1   Director_Name               4872 non-null   object
 2   num_Critic_for_reviews      4927 non-null   float64
 3   duration                    4959 non-null   float64
 4   director_Facebook_likes     4872 non-null   float64
 5   actor_3_Facebook_likes      4953 non-null   float64
 6   actor_2_name                4963 non-null   object
 7   Actor_1_Facebook_likes      4968 non-null   float64
 8   gross                       4104 non-null   float64
 9   genres                      4974 non-null   object
 10  actor_1_name                4968 non-null   object
 11  movie_Title                 4974 non-null   object
 12  num_voted_users             4974 non-null   float64
 13   cast_total_facebook_likes  4974 non-null   float64
 14  actor_3_name                4953 non-null   object
 15  facenumber_in_poster        4961 non-null   float64
 16  plot_keywords               4827 non-null   object
 17  movie_imdb_link             4974 non-null   object
 18  num_user_for_reviews        4956 non-null   float64
 19  language                    4961 non-null   object
 20  country                     4971 non-null   object
 21  content_rating              4677 non-null   object
 22  budget                      4494 non-null   float64
 23  title_year                  4869 non-null   float64
 24  actor_2_facebook_likes      4963 non-null   float64
 25  imdb_score                  4974 non-null   float64
 26  aspect_ratio                4654 non-null   float64
 27  movie_facebook_likes;       4974 non-null   object
dtypes: float64(15), object(13)
memory usage: 1.1+ MB

Поменяем названия некоторых столбцов на более богоугодные

In [5]:
df = df.rename (
    columns = {
        'Director_Name' : 'director_name',
        'num_Critic_for_reviews'    : 'num_critic_for_reviews',
        'director_Facebook_likes' : 'director_facebook_likes',
        'actor_3_Facebook_likes'      : 'actor_3_facebook_likes',
        'Actor_1_Facebook_likes':'actor_1_facebook_likes',
        'movie_Title':'movie_title',
        ' cast_total_facebook_likes':'cast_total_facebook_likes'
    }
)

Тепрь будем работать с пропусками

In [27]:
df.isna().sum()

color                        0
director_name                0
num_critic_for_reviews       0
duration                     0
director_facebook_likes      0
actor_3_facebook_likes       0
actor_2_name                 0
actor_1_facebook_likes       0
gross                        0
genres                       0
actor_1_name                 0
movie_title                  0
num_voted_users              0
cast_total_facebook_likes    0
actor_3_name                 0
facenumber_in_poster         0
plot_keywords                0
movie_imdb_link              0
num_user_for_reviews         0
language                     0
country                      0
content_rating               0
budget                       0
title_year                   0
actor_2_facebook_likes       0
imdb_score                   0
aspect_ratio                 0
movie_facebook_likes;        0
real_domestic_gross          0
real_budget                  0
profit                       0
roi                          0
dtype: int64

Так как наше срванение строится прежде всего на численных (денежных) показателях, то исключим фильмы информация о которых по этим покахателям не полная

In [7]:
df=df.dropna (subset=['title_year','gross','budget'])

В пропуски в дискретных полях в оставшихся фильмах установим значение "unknow"

In [8]:
columns_to_replace1 =['actor_2_name', 'actor_1_name', 'color', 'actor_3_name','content_rating','language','plot_keywords']

for row in columns_to_replace1:
    df[row] = df[row].fillna('unknown')

In [ ]:
В остальных столбцам дозаполним пропуски средними значениями по столбцам

In [9]:
columns_to_replace2 =['aspect_ratio','actor_2_facebook_likes','facenumber_in_poster','actor_1_facebook_likes','actor_3_facebook_likes','duration','num_critic_for_reviews']

for row in columns_to_replace2:
    df[row] = df[row].fillna( df[row].mean())

Проверим что пропусков не осталось

In [27]:
df.isna().sum()

color                        0
director_name                0
num_critic_for_reviews       0
duration                     0
director_facebook_likes      0
actor_3_facebook_likes       0
actor_2_name                 0
actor_1_facebook_likes       0
gross                        0
genres                       0
actor_1_name                 0
movie_title                  0
num_voted_users              0
cast_total_facebook_likes    0
actor_3_name                 0
facenumber_in_poster         0
plot_keywords                0
movie_imdb_link              0
num_user_for_reviews         0
language                     0
country                      0
content_rating               0
budget                       0
title_year                   0
actor_2_facebook_likes       0
imdb_score                   0
aspect_ratio                 0
movie_facebook_likes;        0
real_domestic_gross          0
real_budget                  0
profit                       0
roi                          0
dtype: int64

Теперь проверим наличие дубликатов

In [10]:
df.duplicated().sum()

34

Удаляем их

In [11]:
df = df.drop_duplicates()

Проверяем теперь

In [12]:
df.duplicated().sum()

0

Хорошо, тепрь проверим наличие неявных дубликатов по таким столбцам как "color", "language" и "country"

In [13]:
sorted (df['color'].unique())

[' Black and White', 'Color', 'Colour', 'color', 'unknown']

In [14]:
sorted (df['language'].unique())

['Aboriginal',
 'Arabic',
 'Aramaic',
 'Bosnian',
 'Cantonese',
 'Czech',
 'Danish',
 'Dari',
 'Dutch',
 'Dzongkha',
 'English',
 'Filipino',
 'French',
 'German',
 'Hebrew',
 'Hindi',
 'Hungarian',
 'Icelandic',
 'Indonesian',
 'Italian',
 'Japanese',
 'Kazakh',
 'Korean',
 'Mandarin',
 'Maya',
 'Mongolian',
 'Norwegian',
 'Persian',
 'Portuguese',
 'Russian',
 'Spanish',
 'Swedish',
 'Telugu',
 'Thai',
 'Vietnamese',
 'Zulu',
 'unknown']

In [15]:
sorted (df['country'].unique())

['Afghanistan',
 'Argentina',
 'Aruba',
 'Australia',
 'Belgium',
 'Brazil',
 'Canada',
 'Chile',
 'China',
 'Colombia',
 'Czech Republic',
 'Denmark',
 'Finland',
 'France',
 'Georgia',
 'Germany',
 'Greece',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Ireland',
 'Israel',
 'Italy',
 'Japan',
 'Mexico',
 'Netherlands',
 'New Line',
 'New Zealand',
 'Norway',
 'Official site',
 'Peru',
 'Philippines',
 'Poland',
 'Romania',
 'Russia',
 'South Africa',
 'South Korea',
 'Spain',
 'Sweden',
 'Taiwan',
 'Thailand',
 'UK',
 'USA',
 'West Germany']

Неявные дубликаты обнаружились только в столбце "color", приведём всё в единый формат

In [16]:
dublicates=['Colour','color']
for wrong_genre in dublicates:
        df['color'] = df['color'].replace(wrong_genre, 'Color')

Возьмём с сайта данные о том как изменялась стоимость доллара (код страницы сайта хранится в txt файле тк на этот сайт можно зайти только с включённым VPN) и на основе этой информации построим таблицу о том как изменялась стоимость доллара со временем

In [17]:
r=open("D:\ML\data\inflation.txt")
data=r.read()
r.close()
soup=BeautifulSoup(data,'html.parser')

table=soup.find('table')
rows = table.tbody.findAll('tr')

years=[]
cpis=[]

for row in rows:
    year=row.findAll('td')[0].get_text()
    if year.isdigit() and int(year)<2017:
        years.append(int(year))
        cpis.append(float(row.findAll('td')[13].get_text()))

cpi_table=pd.DataFrame({
    "year":years,
    "avg_annual_cpi":cpis
})
cpi_table.head()

   year  avg_annual_cpi
0  1913             9.9
1  1914            10.0
2  1915            10.1
3  1916            10.9
4  1917            12.8

Создадим функцию которая на основании года конвертирует "старые" доллары в "новые"

In [18]:
def get_real_value(nominal_atm, old_cpi, new_cpi):
    real_value=(nominal_atm*new_cpi)/old_cpi
    return real_value

За совремееный доллар возьмём доллар 2016 года

In [19]:
CPI_2016=float(cpi_table[cpi_table['year']==2016]['avg_annual_cpi'])

C:\Users\ov00v\AppData\Local\Temp\ipykernel_14204\2011872491.py:1: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  CPI_2016=float(cpi_table[cpi_table['year']==2016]['avg_annual_cpi'])

Добавим к таблице столбцы с бюджетом и сборами в пересчёте на современные доллары

In [23]:
real_domestic_gross=[]
real_budget_values=[]

for index, row in df.iterrows():
    gross=row['gross']
    budget=row['budget']
    year=row['title_year']
    cpi=float(cpi_table[cpi_table['year']==int(year)]['avg_annual_cpi'])

    real_gross=get_real_value(gross,cpi,CPI_2016)
    real_budget=get_real_value(budget,cpi,CPI_2016)
    real_domestic_gross.append(real_gross)
    real_budget_values.append(real_budget)
df["real_domestic_gross"]=real_domestic_gross
df["real_budget"]=real_budget_values

C:\Users\ov00v\AppData\Local\Temp\ipykernel_14204\2271251183.py:8: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  cpi=float(cpi_table[cpi_table['year']==int(year)]['avg_annual_cpi'])

Также добавим столбцы с прибылью (валовой и процентной)

In [26]:
profits=[]
roi_vals=[]

for index, row in df.iterrows():
    profit=row['real_domestic_gross']-row['real_budget']
    budget=row['real_budget']
    num=profit-budget
    den=budget
    roi=(num/den)*100

    profits.append(profit)
    roi_vals.append(roi)

df['profit']=profits
df['roi']=roi_vals

Теперь можно переходить к гипотезам
Первая гипотеза:
Фильмы выпущенные начиная с 2000 года имиют суммарный больший бюджет чем все чёрно-белые фильмы в истории

In [69]:
print(df.loc[df['color']==' Black and White']['real_budget'].sum()<df.loc[df['title_year']>=2000]['real_budget'].sum())

True

Гипотеза подтверждена

Вторая гипотеза:
Фильмы с Кристианом Бейлом в главной роли более кассовые (имеют большие сборы) чем фильмы с Райаном Гослиногом в главной роли

In [70]:
df.loc[df['actor_1_name']=="Christian Bale"]['real_domestic_gross'].sum()>df.loc[df['actor_1_name']=="Ryan Gosling"]['real_domestic_gross'].sum()

True

Гипотеза подтвердилась

Третья гипотеза:
В среднем французские комедии более затратные в производстве чем японские боевики

In [72]:
df.loc[df['country']=='France'].loc[df['genres'].str.contains("Comedy") ]['real_budget'].mean()>\
df.loc[df['country']=='Japan'].loc[df['genres'].str.contains("Action") ]['real_budget'].mean()

False

Гипотеза опровержена

In [79]:
cpi_table.to_csv(r'D:\ML\data\Lab_Ovch_CPI.csv' ,index=False)
df.to_csv(r'D:\ML\data\Lab1_Ovch-222.csv' ,index=False)